{% extends 'base_generic.html' %}

{% block title %}Contacto{% endblock title %}

{% block content %}

<html lang="en">
    <div class="text-center">
        <h1 style="color:deepskyblue"> Acerca de nosotros </h1>
        <p1>
            ParkApp es una empresa uruguaya fundada en 2020 que brinda soluciones innovadoras que se adaptan a las
            necesidades y exigencias de cada cliente a la hora de encontrar estacionamiento.
            Tiene una sólida presencia en el mercado de las empresas. Con una sucursal en Uruguay,
            opera con clientes en más de 10 barrios a lo largo del departamento de Montevideo.
        </p1>
        <h1 style="color:deepskyblue"> Historia </h1>
        <p1>
            ParkApp fue fundada en el 2020 por la creacion de un proyecto en ProBit en la cual salio a flote
            esta gran idea de poder facilitar a los conductores a la hora de encontrar un estacionamiento,
            esta idea fue creada por la participacion de: Ezequiel Casella, Lucia Santos, Santiago Lorenzo,
            Santiago Bonilla y Santiago Ognibene en un debate interactivo de lluvia de ideas, y se nos ocurrio
            el gran problema que tienen la mayoria de los conductores a la hora de estar dando vueltas sin
            poder encontrar estacionamiento, o de llegar a el y que no hayan lugares, esta aplicacion
            permitira la optimizacion del tiempo debido a que puedes realizar reservas antes de estar
            en el estacionamiento libre.
        </p1>
        <h1 style="color:deepskyblue"> Mision </h1>
        <p1>
            Contribuir al logro de los objetivos para nuestros clientes, entregando soluciones
            tecnológicas innovadoras con el respaldo de un comprometido equipo de profesionales”
        </p1>
        <h1 style="color:deepskyblue"> Vision </h1>
        <p1>
            Ser una empresa de clase mundial
        </p1>
    </div>

{% endblock content %}