{% extends 'base_generic.html' %}

{% block title %}Contacto{% endblock title %}

{% block content %}

    <div class="text-center">
        <h1 style="color:deepskyblue">Contacto</h1>
        <p class="center">
                Nuestras fuentes de contacto:
        </p><br>
        </p>
            Telefono: +59899123456
        </p>
            E-mail: Parkapp@mail.com.uy
        </p>
        </p>
            Twitter: @Parkapp
        </p>
         </p>
            Facebook: Parkapp
        </p>
    </div>

{% endblock content %}