
{% extends 'base_generic.html' %}

{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
{% endblock head %}

{% block title %}Mapa{% endblock title %}

{% block content %}

    <div class="flexbox_row" id="map_container">
        <div id="mapid"></div>

        <section id="sect_reservas">
            <h3>Reservas</h3>
            {% include 'map/detail.html' %}
        </section>  
    </div>
    

    <script>
        let mymap = L.map('mapid').setView([-34.905572, -56.185026], 15);

        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors,'+
            ' <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, '+
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            // actualizado el accessToken para usar el de Santiago Lorenzo, pendiente pasar a variable de ambiente
            accessToken: 'pk.eyJ1Ijoic2xvcmVuem85MSIsImEiOiJjazdjcGtkc3IwNmh6M2xvenhzMWJxMGJoIn0.oEDZn7PgzNznhicHLjp-Aw'
        }).addTo(mymap);

        // const parkings_list = "{{parkings_list}}"

        

        // parkings_list.forEach(parking => {
        //     let marker = L.marker([parking.latitude, parking.longitude]).addTo(mymap);
        //     marker.bindPopup("<b>"+parking.name+"</b><br>I am a popup. <button>Reservar</button>");

        // });
        
    </script>
    
    {% comment %} \"{% url 'detail' parking.id %}\"" {% endcomment %}
    <!-- TODO: Procurar dejar todo en un solo tag de script -->
    {% if parkings_list %}
        {% for parking in parkings_list %}
            <script>
                L.marker(["{{ parking.latitude }}", "{{ parking.longitude }}"]).addTo(mymap)
                .bindPopup("<h3>"+"{{parking.name}}"+"</h3><br><a href=\"{% url 'detail' parking.id %}\" class=\"button center\"> Reservar</a>"){% if parking.id == sel_parking.id %}.openPopup(){% endif %};
            </script>
        {% endfor %}
    {% else %}
        <p></p>
    {% endif %}
<!-- 
    {% if parkings_list %}
        <ul>
            {% for parking in parkings_list %}
                <li>Name: {{ parking.name }}</li>
                <li>Latitude: {{ parking.latitude }}</li>
                <li>Longitude: {{ parking.longitude }}</li>
                <br><br>
            {% endfor %}
        </ul>
    {% else %}
        <p>No parkings</p>
    {% endif %} -->
{% endblock content %}