<h3>Reserva</h3>
<form id="schedule-form" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }} {{ field }}
        </div>
        <hr>
    {% endfor %}
    <input type="submit" value="Enviar Reserva" class="button center">
    <p>(*).- Se utilizará para confirmar la reserva.</p>
</form>
<script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    $("#schedule-form").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // console.log(serializedData);
        // console.log("{{ parking_id }}")
        // make POST ajax call
        $.ajax({
            type: 'POST',
            url: "{% url 'post_schedule' parking_id %}",
            data: serializedData,
            success: function (response) {
                $("#schedule-form").trigger('reset');
                // display the newly friend to table.
                //var parking_name = response["parking_name"];
                const sched_id = response["sched_id"];

                $("#parking_details").html(
                    `<form id="sched_confirm" method="post">
                        {% csrf_token %}
                        
                        <label for="conf_code_input">Ingrese el codigo recibido por SMS.</label>
                        <input type="text" placeholder="Código recibido.." id="conf_code_input" name="confirmation_code">
                        <input type="hidden" name="sched_id" value="${sched_id}">
                        
                        <input type="submit" class="button" value="Confirmar Reserva">
                    </form>
                    <div id="conf_status"></div>`
                );
                $("#sched_confirm").submit(function (e) {
                    // preventing from page reload and default actions
                    e.preventDefault();
                    // serialize the data for sending the form data.
                    var serializedData = $(this).serialize();
                    // make POST ajax call
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'confirm_sched' %}",
                        data: serializedData ,
                        success: function (response) {
                            $("#sched_confirm").trigger('reset');
                            // display the newly friend to table.
                            var parking_name = response["parking_name"];
                            $("#parking_details").html(
                                `<p id="reserva_correcta">Reserva a <b>${ parking_name }</b> 
                                confirmada con éxito.</p>
                                
                                {% include 'map/detail.html' %}`
                            )
                        },
                        error: function (response) {
                            $("#conf_status").html(
                                `<p id="alerta_confirmacion">
                                <i>Código de confirmación incorrecto.</i>
                                </p><br>`
                            );
                        }
                    })
                });
            },
            error: function (response) {
                // alert the error if any error occured
                alert(`Hubo un error al realizar la reserva. Compruebe que el
                numero de teléfono sea correcto.`);
            }
        })
    });
</script>